@import "tailwindcss";

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

.rounded-full {
  border-radius: calc(infinity * 1px);
}

.badge {
  @media (width >= 48rem /* 768px */) {
    display: none;
  }
}